/* common */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Roboto', sans-serif;
}
.relat {
    position: relative;
}
.vert-m {
    vertical-align: middle;
}
.backgreen {
    background-color: #7CBB33;
}
.w-80 {
    width: 80%;
    margin: 0 auto;
}
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
.float-sx {
    float: left;
}
.text-cen {
    text-align: center;
}
/* header */
header {
    width: 100%;
    background-color: #0C335B;
}
.header-nav {
    height: 120px;
    line-height: 80px;
}
.navl-side {
    width: 15%;
}
.navm-side {
    width: 40%;
    height: 100%;
    text-align: left;
}
.navr-side {
    width: 45%;
    height: 100%;
    text-align: right;
}
.list-inl > li {
    display: inline-block;
    padding: 0 15px;
}
.list-inl a:hover:not(.btn) {
    color: #7CBB33;
}
li > a {
    line-height: 80px;
    font-size: 14px;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}
/* buttons */
.btn {
    border-radius: 5px;
    padding: 10px 20px;
}
.btn-blue {
    border: 1px solid white;
    background-color: #0C335B;
}
.btn-green {
    border: 1px solid #7CBB33;
    background-color: #7CBB33;
}
.btn-green:hover,
.btn .btn-lg {
    background-color: white;
    color: #7CBB33;
}
.btn-blue:hover {
    background-color: white;
    color: #0C335B;
}
/* jumbotron */
.jumbotron {
    height: 500px;
    background-image: url('../img2/background-header.png');
    background-size: 65% auto;
    background-repeat: no-repeat;
    background-position: 110% bottom;
}
.jumbotron div {
    position: absolute;
    bottom : 30%;
    width: 50%;
}
h1 {
    font-size: 70px;
    padding-bottom: 20px;
    color: white;
    font-weight: 500;
    margin-bottom: 25px;
}
.btn-lg {
    padding:20px;
    text-decoration: none;
    text-transform: uppercase;
    color:white;
}
.intro-main {
    height: 200px;
    background-color:#DCDCDC;
}
.intro-main h3 {
    font-size: 30px;
    font-weight: 500;
    padding-top: 50px;
}
.intro-main p {
    font-size: 25px;
    font-weight: 500;
    padding-top: 30px;
    color: #808080;
}
.col {
    width: 33%;
    margin-top: 50px;
    position: relative;
}
h4 {
    font-size: 35px;
    line-height: 50px;
    font-weight: 500;
    padding-top: 50px;
    color: #7CBB33;
}
.middle-text {
    font-size: 22px;
    font-weight: 350;
    line-height: 30px;
    color: #808080;
}
.p-cent{
    text-indent: 15px; 
}
#image1 {
    display: block;
    height: 250px;
    margin: auto;
}
#image2 {
    display: block;
    height: 250px;
    margin: auto;
}
#image3 {
    display: block;
    height: 250px;
    margin: auto;
}
.mini-hr {
    width: 20%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}
/* section */
.block1 {
    height: 550px;
}
.last-hr {
    margin-top: 50px;
    margin-bottom: 50px;
}
.last-sec {
    width: 49%;
    height: 400px;
    padding-bottom: 30px;
} 
#mountains {
    display:block;
    height: 500px;
    margin: auto;
}
.last-sec h3 {
    font-size: 50px;
    font-weight: 500;
}
.last-sec p {
    font-size: 25px;
    line-height: 35px;
    color: #808080;
    padding-top: 10px;
}
.last-sec a {
    display: block;
    font-size: 18px;
    padding-top: 30px;
    color:#628FC1;
}
/* footer */
footer {
    height: 180px;
    line-height: 180px;
    background-color:#DCDCDC;
}
.title-footer {
    font-size: 50px;
    font-weight: 500;
}
.blocco2 {
    font-size: 23px;
    float:right;
}
.select {
    text-decoration: underline;
    word-spacing: 70px;
}
.blocco2 li {
    color: #808080;
    margin: 5px;
}
.linguetta {
    width: 70px;
    height: 40px;
    border-radius: 5px;
    text-transform: uppercase;
    text-decoration: none;
    padding-top: 10px;
    color: white;
    position:absolute;
    bottom: 0;
    right: 15%;
}
